:root {
  --main-width: 240px;
  --main-color: rgba(245, 142, 58, 0.342);
}
header {
  position: fixed;
  background-color: var(--main-color);
  width: var(--main-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-blend-mode: color;
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}
header h1 {
  font-size: 4rem;
  padding-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  /* padding-inline: 양쪽만 조절 */
  padding-inline: 10px;
}
header nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  gap: 10px;
}
header nav a {
  text-decoration: underline;
}
main {
  padding: 10px;
  padding-left: calc(var(--main-width) + 10px);
  text-align: center;
}
main h2,
main p {
  text-align: left;
}
main h2 {
  font-size: 2rem;
  font-weight: bold;
}
main img {
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
  margin-bottom: 10px;
}
